.game{
    margin: 0 auto;
    background-color: #7E7E7E;
}

.cell{
    display: inline-block;
    float:left;
    width: 8px;
    height: 8px;
    border: 1px solid #999999;
}

.cell.full{
    background-color: #FFFF00;
}

.generations{
    float: right
}

body{
    margin: 0;
}